<div class="container_cover">
    <div class="cover">
        <div class="text">
            <div class="img_circular">
                <img src="/assets/img/foto/foto.png" alt="" >
            </div>
            <h1>Hola, Mi nombre es Elias José Jais</h1>
            
            <h4>Full Stack developer</h4>

            <p class="primero">Soy del interior de Catamarca viviendo hace nueve años en la ciudad de Córdoba.
                Tengo 28 años, apasionado por el desarrollo web, en constante aprendizaje.</p>
            
            <p class="segundo">Hoy te vengo a presentar mi portfolio mostrando todo lo que he aprendido hasta el momento, 
                los proyectos que he realizado, mis habilidades y mi información de contacto con un formulario para que me envíen sus mensajes.</p>
            
            <a href="/assets/documentos/CV Elias Jose Jais.pdf" download="CV Elias Jose Jais.pdf" title="Descarga">Descargar CV</a>
            
        </div>
        <div class="svg">
            <img src="/assets/img/foto/foto.png" alt="">
        </div>
    </div>
</div>
