    <div id="proyecto"></div>
    <div class="proyecto_titulo">
        <h4>Mis Proyectos</h4>
    </div>
        <div class="container_card">
            <div class="card">
                <img src="/assets/img/img_proyecto.png">
                <h4>Mi Portfolio</h4>
                <p>Este proyecto fue creado con angular aplicando lazy loading en el sistema de enrutamiento, formulario reactivo y diseño responsive, node.js, express y mongodb (MEAN)</p>
                <a href="https://github.com/ejais58/MiPortfolio" target="_blank">Ir a GitHub</a>
            </div>

            <div class="card">
                <img src="/assets/img/img_proyecto.png">
                <h4>CRUD Angular .NET</h4>
                <p>Este proyecto fue creado con angular aplicando lazyload en el sistema de enrutamiento, dotnet 6 utilizando EntityFrameword (code first)</p>
                <a href="https://github.com/ejais58/CRUD-Login-Angular-dotnet6-EntityFramework" target="_blank">Ir a GitHub</a>
            </div>

            <div class="card">
                <img src="/assets/img/img_proyecto.png">
                <h4>Login-MEAN</h4>
                <p>Este proyecto fue creado angular, node.js, express y mongodb (MEAN) utilizando encriptado para la contraseña, jsonwebtoken (JWT), y lazy loading en el sistema de enrutamiento</p>
                <a href="https://github.com/ejais58/Auth_MEAN" target="_blank">Ir a GitHub</a>
            </div>
        </div>
