<div class="header">
    <div class="container_menu">
        <div class="logo">
            <img src="/assets/img/logo/logo.png">
        </div>
        <div class="menu">
            <i class="fa-solid fa-bars" id="btn_menu" ></i>
            <div id="back_menu">
            </div>
            <nav id="nav">
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#proyecto">Portfolio</a></li>
                    <li><a href="#habilidades">Habilidades</a></li>
                    <li><a href="#contacto">Contáctame</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
