    <div id="habilidades"></div>
        <div class="habilidades_titulo" >
            <h4>Mis Habilidades</h4>
        </div>
        <div class="container_habilidades" >
            <div class="habilidades" >
                <p>HTML</p>
                <div class="container_hab" id="animado1">
                    <div class="skill html" >80%</div>
                </div>
                <p>CSS</p>
                <div class="container_hab" id="animado2">
                    <div class="skill css">70%</div>
                </div>
                <p>JAVASCRIPT</p>
                <div class="container_hab" id="animado3">
                    <div class="skill java">80%</div>
                </div>
            </div>
            <div class="habilidades">
                <p>ANGULAR</p>
                <div class="container_hab" id="animado4">
                    <div class="skill angular">70%</div>
                </div>
                <p>.NET</p>
                <div class="container_hab" id="animado5">
                    <div class="skill net">60%</div>
                </div>
                <p>NODE.JS</p>
                <div class="container_hab" id="animado6">
                    <div class="skill node">50%</div>
                </div>
            </div>
        </div>
